<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Article</title>
</head>
<body>
<p th:text="${article.getTitle() + ', ' + article.getCreatedAt()}">VALUE</p>
<p th:text="${'Text: ' + article.getText()}">VALUE</p>
<p th:text="${article.getTags()}">VALUE</p>

<a th:href="@{/articles/{id}/edit(id=${article.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/articles/{id}(id=${article.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>